<h2 mat-dialog-title>{{ data ? 'Edit User' : 'Add User' }}</h2>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()" mat-dialog-content>
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required />
  </mat-form-field>

  <input type="file" (change)="onFileChange($event)" />

  <div *ngIf="imagePreview" style="margin-top: 10px;">
    <img [src]="imagePreview" width="100" />
  </div>
</form>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" type="submit">Save</button>
</mat-dialog-actions>
