<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <input formControlName="name" placeholder="Name" required />
    <input formControlName="email" placeholder="Email" required />
        <input formControlName="imageUrl" placeholder="imageUrl" required />
    <button type="submit">{{ editingUserId ? 'Update' : 'Add' }}</button>
    <button type="button" (click)="cancelEdit()" *ngIf="editingUserId">Cancel</button>
  </form>

  <table border="1" style="margin-top: 20px; width: 100%;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
            <th mat-header-cell *matHeaderCellDef> Image </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td mat-cell *matCellDef="let user">
      <img [src]="user.imageUrl" width="50" />
    </td>
        <td>
          <button (click)="editUser(user)">Edit</button>
          <button (click)="deleteUser(user.id)">Delete</button>
        </td>
        
      </tr>
    </tbody>
  </table>
</div>
<button mat-raised-button color="primary" (click)="openDialog()">Add User</button>


